<div class="products-list">
    <div class="products-detail">
        <div class="product-specs">
            <p><span>Medicine ID:</span>{{%ID%}}</p>
            <p><span>Medicine Name:</span>{{%NAME%}}</p>
            <p><span>Generic Name:</span>{{%MODELNAME%}}</p>
            <p><span>Quantity:</span>{{%SIZE%}}</p>
        </div>
    </div>
</div>