{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="css/login.css">
</head>
<body>
    
<h1>Sign Up</h1>

    <form action="/signup" method="post" >
        <input placeholder="Name" name="name" type="text">
        <br>
        <input placeholder="Password" name="password" type="password">
        <br>
        <input class="sub" type="submit">
    </form>

       <a href="/">Go back to login page</a>

</body>
</html> --}}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="signuppage.css" />
  </head>
  <body>
    <div class="container">
      <h1>Sign Up</h1>

      <form action="/signup" method="post" class="signup-form">
        <div class="form-group">
          <label for="name">Name:</label>
          <input
            id="name"
            placeholder="Name"
            name="name"
            type="text"
            required
          />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input
            id="password"
            placeholder="Password"
            name="password"
            type="password"
            required
          />
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input
            id="email"
            placeholder="Email"
            name="email"
            type="email"
            required
          />
        </div>

        <div class="form-group">
          <label for="birthdate">Birthdate:</label>
          <input
            id="birthdate"
            placeholder="Birthdate"
            name="birthdate"
            type="date"
            required
          />
        </div>

        <div class="form-group">
          <label for="city">City:</label>
          <input
            id="city"
            placeholder="City"
            name="city"
            type="text"
            required
          />
        </div>

        <div class="form-group">
          <label for="village">Village:</label>
          <input
            id="village"
            placeholder="Village"
            name="village"
            type="text"
            required
          />
        </div>

        <div class="form-group">
          <label for="streetNumber">Street Number:</label>
          <input
            id="streetNumber"
            placeholder="Street Number"
            name="streetNumber"
            type="text"
            required
          />
        </div>

        <div class="form-group">
          <label for="houseNumber">House Number:</label>
          <input
            id="houseNumber"
            placeholder="House Number"
            name="houseNumber"
            type="text"
            required
          />
        </div>
        
        <button class="submit-btn" type="submit">Sign Up</button>
      </form>

      <a href="/" class="login-link">Go back to login page</a>
    </div>
  </body>
</html>
